.header_link{
    margin-right: 15px;
}

.header_link.active {
    margin-right: 15px; 
    background-color: #F6BC00;
    border-radius: 20px;
    padding: 8px 23px; 
    color:white;
}

.header_link.active {
    margin-right: 15px; 
    background-color: #F6BC00;
    border-radius: 20px;
    padding: 8px 23px; 
    color:white;
}

header{
    display: flex; 
    margin-top: 26px; 
    justify-content: space-around;
}

div{
    display: flex;
    align-items: center;
}

.div1 {
    display: block;
    align-items:inherit;
    background-image: url(../img/title.jpg);
    background-size: cover;
    width: 100%;
    height: 1002px;
    margin-left:172px;
}


*{
    font-family: "Roboto";
}

.div1 .header_link.active {
    padding: 8px 74px;
    font-weight: 700;
    width: 31px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.ftn {
    font-weight: bold;
    font-size: 64px;
    color: #160E4E;
    font-family: Roboto;
}

.ftnt {
    font-weight: bold;
    font-size: 30px;
    color: #160E4E;
    margin-right: 55px;
    text-align: center;
    font-family: Roboto;
}

.ftntf {
    font-size: 20px;
    color: #303030;
    margin-right: 100px;
    text-align: center;
    font-family: Roboto;
}

.blokk {
    padding: 5px;
    float: left;
    width: 550px;
    margin-right: 55px;
}

.blook {
    padding: 5px;
    float: left;
    width: 550px;
    margin-right: 55px;
}

.bllok {
    padding: 5px;
    float: right;
    width: 550px;
    margin-right: 30px;
}

.bok {
    padding: 5px;
    float: right;
    width: 550px;
    margin-right: 30px;
}
.im {
    margin-right: 55px;
    text-align: center;
}
.ftntfz {
    font-size: 20px;
    color: #303030;
    margin-right: 90px;
    text-align: center;
    font-family: Roboto;
}


